body{
margin:0;
font-family:Arial,sans-serif;
background:#0f172a;
color:white;
}

.home{
display:flex;
flex-direction:column;
align-items:center;
padding:20px;
}

.profile-card img{
width:140px;
border-radius:50%;
border:4px solid #38bdf8;
}

.menu{
margin-top:20px;
display:flex;
flex-direction:column;
gap:15px;
}

.menu button{
padding:18px;
font-size:18px;
border:none;
border-radius:12px;
cursor:pointer;
transition:0.3s;
}

.menu button:hover{
transform:scale(1.05);
opacity:0.85;
}

.section{
display:none;
padding:30px;
}

.back{
background:#22c55e;
border:none;
padding:10px;
border-radius:8px;
cursor:pointer;
}

.project img{
width:100%;
max-width:400px;
border-radius:12px;
margin:10px 0;
}

.cv{
display:inline-block;
margin-top:15px;
background:#38bdf8;
padding:12px;
border-radius:8px;
color:black;
text-decoration:none;
}
